@tailwind base;
@tailwind components;
@tailwind utilities;

.B {
  border: 1px solid red;
}

.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #fff;
}

.not-found-title {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.not-found-message {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.not-found-image {
  width: 50%;
  max-width: 500px;
}
